.MovieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}